body {
    overflow-y: hidden;
    height: 100vh;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: rgba(69, 137, 255, 1);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(69, 137, 255, 1);
}

#addNewContact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 357px;
    height: 56px;
    animation-delay: 10ms;
}


.contacts-list-box {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 456px;
    left: 232px;
    border: 1px solid #ececec;
    box-shadow: 0px 5px 5px 2px rgb(13 12 12 / 10%);
}

.button-fixed {
    position: sticky;
    display: flex;
    width: 456px;
    height: 104px;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.contact-list-scroll {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    padding-right: 20px;
    height: 55vh;
    width: 80%;
}

.lettter-box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 56px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid rgba(209, 209, 209, 1);
}

.letter {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    padding-top: 17px;
    padding-left: 36px;
    padding-bottom: 17px;
    padding-right: 36px;
    gap: 8px;
}

.contact-box {
    width: 100%;
    height: 77px;
    display: flex;
    align-items: center;
    gap: 35px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
}

.contact-box:hover {
    cursor: pointer;
    background-color: rgba(210, 227, 255, 1);
}

.contact-box:active {
    background-color: rgba(69, 137, 255, 1);
}

.contact-box:active span {
    color: rgba(255, 255, 255, 1);
}

.contact-box.active {
    background-color: rgba(69, 137, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.contact-box.active span {
    color: rgba(255, 255, 255, 1);
}

.contact-frame-mail {
    font-size: 12px;
    color: rgba(69, 137, 255, 1);
}

.contact-frame-mail:active {
    background-color: rgba(69, 137, 255, 1);
    color: rgba(255, 255, 255, 1);
}


.contact-active {
    background-color: rgba(69, 137, 255, 1);
    color: rgba(255, 255, 255, 1);
}

.contact-inner-box {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-left: 24px;
    padding-bottom: 15px;
    padding-right: 24px;
    gap: 10px;
}

.contact-frame {
    height: 47px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.profile-badge {
    background-color: var(--default);
    color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 1);
    gap: 10px;
    font-size: 15px;
    padding: 5px;
    width: 20px;
    height: 20px;
}

#contactsName {
    font-size: clamp(20px, 2vw, 50px);
}

.contact-frame-name {
    font-size: 15px;
}

.floating-contact-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.floating-contact-box .profile-badge {
    border-radius: 100%;
    border: 3px solid rgba(255, 255, 255, 1);
    font-size: clamp(20px, 2vw, 50px);
    font-weight: 500;
    padding: clamp(15px, 25px, 50px);
}

.floating-contact-box-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.edit-delete {
    margin-top: 5px;
    display: flex;
    align-items: center;
    text-align: center;
    gap: 8px;
    height: 24px;
}

.contactsBoard {
    display: flex;
}

.edit-delete a:hover {
    cursor: pointer;
}

.floating-contact-box h2 {
    font-size: 23px;
    margin: 0;
    margin-top: 22px;
    margin-bottom: 7px;
}

.floating-contact-box-info h3 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.anton {
    background-color: var(--variant09);
}

.anja {
    background-color: var(--variant13);
}

.benedikt {
    background-color: var(--default);
}

.david {
    background-color: var(--variant14);
}

.eva {
    background-color: var(--variant06);
}

.emmanuel {
    background-color: var(--variant10);
}

.marcel {
    background-color: var(--variant16);
}

.tatjana {
    background-color: var(--variant15);
}

.sofia {
    background-color: var(--variant04);
}

.unknown {
    background-color: var(--grey);
}

.full-width {
    width: 100%;
}

.main_section {
    z-index: 1002;
}

.close-mobile-img {
    display: none;
}

@media (max-width: 800px) {
    .add-contact-box-header {
        border-top-right-radius: 0px;
    }
    .main_section {
        border-radius: 0px;
        width: 100%;
    }
    #close-btn {
        width: 2px;
        height: 10px;
        padding: 0px;
        top: 34px;
        left: 635px;
    }
}

@media (max-width: 640px) {
    #close-btn {
        left: 500px;
    }
}

@media (max-width: 550px) {
    #close-btn {
        left: 400px;
    }
    .add-contact-box-header {
        font-size: 20px;
    }
}

@media (max-width: 450px) {
    #close-btn {
        left: 380px;
    }
}

@media (max-width: 460px) {
    form {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        position: relative;
        gap: 24px;
    }
}

@media (max-width: 430px) {
    #close-btn {
        left: 345px;
    }
    form {
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        position: relative;
        gap: 24px;
    }
}

@media (max-width: 400px) {
    #addNewContact {
        width: 300px;
    }
}

@media (max-width: 375px) {
    #close-btn {
        left: 300px;
    }
}

@media (max-width: 1200px) {
    .button-fixed {
        position: absolute;
        bottom: 100px;
        right: 90px;
        z-index: 1002;
        width: 60px;
    }
    .button-fixed button {
        padding-right: 18px;
        color: transparent;
        font-size: 0;
    }
}

@media (max-width: 758px) {
    .menuLeft {
        display: none;
    }

    .contacts-list-box {
        width: 100%;
    }

    .menuListMobile {
        display: flex !important;
        position: fixed!important;
        cursor: pointer!important;
        left: 0!important;
        right: 0!important;
        bottom: 0!important;
        height: 90px!important;
        background-color: white!important;
        align-items: center!important;
        justify-content: space-around!important;
        border-top: 1px solid lightgray!important;
        z-index: 9999;
    }
}

@media (min-width: 759px) {
    .menuListMobile {
        display: none;
    }

    .menuLeft {
        display: flex;
    }
}

@media (max-width: 934px) {
    .delete-div-mobule {
        display: none;
    }
    .contacts-mobilde {
        display: flex;
        justify-content: center;
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 1002;
        border: 1px solid lightgray;
    }
    .edit-div-mobile {
        position: absolute;
        bottom: -155px;
        right: 0px;
    }
    .edit-div-mobile a {
        font-size: 0;
    }
    #edit-img {
        content: url('../assets/img/editContacts.png');
    }
    .close-mobile-img {
        display: block;
        position: absolute;
        top: 50px;
        right: 60px;
        cursor: pointer;
    }
    .close-mobile-img img {
        height: 46px;
    }
    
    .overlay {
        display: none;
    }
}

.main-mobile-Overlay {
    display: none;
    margin-left: 5%;
    margin-top: 5%;
}

@media (max-width:500px) {
    .button-fixed {
        position: inherit;
    }
}

@media (max-width: 305px) {
    #close-btn {
        left: 270px;
    }
}

#specialButton {
    background-color: rgb(203 205 207);
    margin-left: 10px;
}

@media (max-width: 40px) {
    .floating-contact-box-header {
        gap: 10px;
    }

    .floating-contact-box .profile-badge {
        width: 25vw;
        height: 25vw;
        font-size: 20px;
    }
}

@media (max-width: 306px) {
    #specialButton {
        margin-right: 8px;
    }
}

@media screen and (max-height: 741px) {
    .form {
      overflow-y: scroll;
      height: 180px;
    }
  }
  
  form {
    margin-right: 5%;
  }
