<div class="menuLeft">
    <div class="menuList">
        <div>
            <a id="summary" onclick="checkIndex('summary')"><img src="../assets/img/summary.png" /><span>Summary</span></a>
        </div>
        <div>
            <a id="add_task" onclick="checkIndex('add_task')"><img src="../assets/img/add_task.png" /><span>Add Task</span></a>
        </div>
        <div>
            <a id="board" onclick="checkIndex('board')"><img src="../assets/img/board_navbar.png" /><span>Board</span></a>
        </div>
        <div>
            <a id="contacts" onclick="checkIndex('contacts')"><img src="../assets/img/contact_navbar.png" /><span>Contacts</span></a>
        </div>
    </div>
    <div class="footerImpress">
        <a class="privacyPosition" target="_blank" rel="noopener noreferrer" onclick="checkIndex('PrivacyPolicy')">Privacy Policy</a>
        <a class="legalNoticePosition" target="_blank" rel="noopener noreferrer" onclick="checkIndex('LegalNotice')">Legal Notice</a>
    </div>
</div>


